<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  {{ if _gwt_tag|not_empty }}<meta name="google-site-verification" content="{{ _gwt_tag }}" />{{ endif }}
  {{ if _bing_tag|not_empty }}<meta name="msvalidate.01" content="{{ _bing_tag }}" />{{ endif }}
  {{ if _fb_admin|not_empty }}<meta property="fb:admins" content="{{ _fb_admin }}" />{{ endif }}
  {{ if _fb_app_id|not_empty }}<meta property="fb:app_id" content="{{ _fb_app_id }}" />{{ endif }}
 
 {{ if meta_images !== false }}
<!-- Icon Meta -->
  <link rel="icon" type="image/png" href="{{ theme:img src="meta/icon-favicon.png" }}" />
  <link rel="shortcut icon" href="{{ theme:img src="meta/favicon.ico" }}">
  <meta name="msapplication-TileColor" content="{{ _win_bg }}" />
  <meta name="msapplication-TileImage" content="{{ theme:img src="meta/icon-win8.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme:img src="meta/apple-touch-icon-144x144-precomposed.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme:img src="meta/apple-touch-icon-114x114-precomposed.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme:img src="meta/apple-touch-icon-72x72-precomposed.png" }}" />
  <link rel="apple-touch-icon-precomposed" href="{{ theme:img src="meta/apple-touch-icon-precomposed.png" }}" />

  <!-- Image Meta -->
  <meta property="og:image" content="{{ _site_url }}{{ if social_image|not_empty }}{{ transform src="{ social_image }" width="200" height="200" action="smart" }}{{ else }}{{ theme:img src="meta/icon-facebook.png" }}{{ endif }}"/>
  <meta name="twitter:image" content="{{ _site_url }}{{ if social_image|not_empty }}{{ transform src="{ social_image }" width="200" height="200" action="smart" }}{{ else }}{{ theme:img src="meta/icon-twitter.png" }}{{ endif }}">
  {{ endif }}
  <!-- Site Meta -->
  <meta property="og:type" content="{{ if beta_page_type|not_empty}}{{ beta_page_type }}{{ else }}{{ _site_type }}{{ endif }}"/>
  <meta name="twitter:card" content="summary">

  <meta property="og:site_name" content="{{ _site_name }}"/>
  <meta property="og:url" content="{{ if url|not_empty}}{{ _site_url }}{{ url }}{{ else }}{{ _site_url }}{{ endif }}"/>

  {{ if _twitter_id|not_empty }}<meta name="twitter:site" content="{{ _twitter_id }}">{{ endif }}
  {{ if _gplus_url|not_empty }}<link rel="publisher" href="{{ _gplus_url }}"/>{{ endif }}

  <!-- Content Meta -->
  {{ if _twitter_id|not_empty || author_twitter_id|not_empty }}<meta name="twitter:creator" content="{{ if author_twitter_id|not_empty }}{{ author_twitter_id }}{{ else }}{{ _twitter_id }}{{ endif }}">{{ endif }}
  {{ if _gplus_url|not_empty || author_gplus_url|not_empty }}<link rel="author" href="{{ if author_gplus_url|not_empty }}{{ author_gplus_url }}{{ else }}{{ _gplus_url }}{{ endif }}"/>{{ endif }}

  <title>{{ if !segment_1 }}{{ _site_name }} - {{ if _title_modifier|not_empty }}{{ _title_modifier }}{{ else }}{{ _site_description }}{{ endif }}{{ elseif headline|not_empty }}{{ headline|striptags }} - {{ _site_name }}{{ else }}{{ title }} - {{ _site_name }}{{ endif }}</title>
  <meta property="og:title" content="{{ if !segment_1 }}{{ _site_name }}{{ elseif headline|not_empty }}{{ headline }}{{ else }}{{ title }}{{ endif }}"/>
  <meta name="twitter:title" content="{{ if !segment_1 }}{{ _site_name }}{{ elseif headline|not_empty }}{{ headline }}{{ else }}{{ title }}{{ endif }}">


  <meta proerty="og:description" content="{{ if !segment_1 }}{{ _site_description }}{{ elseif excerpt|not_empty}}{{ excerpt }}{{ elseif content|not_empty }}{{ content|striptags|trim|widont|truncate:200|backspace:8 }}{{ else }}{{ _site_description }}{{ endif }}">
  <meta name="twitter:description" content="{{ if !segment_1 }}{{ _site_description }}{{ elseif excerpt|not_empty}}{{ excerpt }}{{ elseif content|not_empty }}{{ content|striptags|trim|widont|truncate:200|backspace:8 }}{{ else }}{{ _site_description }}{{ endif }}">
  <meta name="description" content="{{ if !segment_1 }}{{ _site_description }}{{ elseif excerpt|not_empty}}{{ excerpt }}{{ elseif content|not_empty }}{{ content|striptags|trim|widont|truncate:150|backspace:8 }}{{ else }}{{ _site_description }}{{ endif }}">

  {{ if _keywords|not_empty || keywords|not_empty }}<meta name="keywords" content="{{ _keywords }}{{ keywords }}" />{{ endif }}
  

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ theme:css }}" />

  <!-- Javascript -->
  <script src="{{ theme:js }}"></script>

</head>
<body class='{{ if is_admin }}admin {{ endif }}{{ if logged_in }}logged-in {{ endif }}{{ if segment_1 }}{{segment_1}} {{ else }}home{{ endif }}{{ if segment_2 }}{{segment_2}} {{ endif }}{{ if segment_3 }}{{segment_3}} {{ endif }}{{ if segment_4 }}{{segment_4}} {{ endif }}{{ if url|not_empty && segment_1 }}{{ url|slugify }}-current{{ endif }}'>
{{ theme:partial src="header" }}
{{ layout_content }}
{{ theme:partial src="footer" }}
  
  {{ if _ga_tag|not_empty && is_live == true }}
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ _ga_tag }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  {{ else }}
  <!-- Google Analytics Disabled (ga.js) -->
  {{ endif }} 
</body>
</html>