{{ entries:listing folder="entries" limit="10" }}
  <h2><a href="{{ url }}">{{ title }}</a></h2>
  {{ datestamp format="F jS, Y" }}
  {{ if excerpt }}{{ excerpt }}{{ else }}{{ content|truncate:200 }}{{ endif }}
  {{ if categories }}
    {{ categories_url_list }}
  {{ endif }}
       {{ next }}<br>
       {{ prev }}
{{ /entries:listing }}

{{ entries:pagination folder="entries" limit="10"}}
  {{ if previous_page }}
    <a href="{{ previous_page }}">Previous Page</a>
  {{ endif }}
  {{ if next_page }}
    <a href="{{ next_page }}">Next Page</a>
  {{ endif }}
{{ /entries:pagination }}
